@CHARSET "ISO-8859-1";
ul, li, button, input {
	margin: 0;
	padding: 0;
}
.tw-top {
	position: fixed;
	top: 0;
	float: left;
	width: 100%;
	height: 50px;
	background: #7fcce3;
	left: 0;
	overflow: hidden;
}

.tw-top > a {
	width: 130px;
	height: 50px;
	line-height: 50px;
	display: block;
	float: left;
	text-align: center;
	color: #fff;
	overflow: hidden;
}

.tw-container {
	margin: 50px auto;
}

.tw-login {
	width: 270px;
	float: right;
}

.tw-profile {
	vertical-align: middle;
}

.tw-message-btn {
	border-bottom: 1px solid #e9ebee;
	padding: 30px 0;
	overflow: hidden;
}

.tw-operation-btn {
	padding: 30px 0 0;
	overflow: hidden;	
}

.tw-tt-btn {
	width: 16%;
	height: 40px;
	line-height: 40px;
	margin-left: 13%;
	float: left;
	text-align: center;
	color: #fff;
	border: none;
	cursor: pointer;
}

.tw-message-btn .tw-tt-btn.first {
	background: #66CCCC;
}

.tw-tt-btn.second {
	background: #009999;
}

.tw-tt-btn.third {
	background: #f01b2d;
}

.tw-content {
	margin: 20px auto;
	width: 80%;
	padding: 0 20px;
	height: 300px;
	overflow: scroll;
}

ul.tw-content > li {
	line-height: 30px;
	cursor: pointer;
	list-style: none;
	padding: 0 10px;
}

ul.tw-content > li.select {
	color: #fff;
	background: #7fcce3;
}

ul.tw-content > li:hover {
	color: #fff;
	background: #7fcce3;	
}

.tw-message-btn #message_cont {
	margin: 20px auto;
    width: 80%;
    padding: 20px;
    height: 150px;
    border: 1px solid #cececc;
    display: block;
}

#tw_user {
	margin: 0 auto;
    width: 80%;
    padding-top: 30px;
}

.tv-container {
	margin: 40px auto;
	width: 80%;
	font-size: 18px;
}

.tv-container > div {
	margin: 30px 0;
	overflow: hidden;
}
.tv-container > div > span {
	margin-right: 40px;
	width: 130px;
	text-align: right;
	display: inline-block;
	color: #009999;
}
.tv-container > div.tv-intro > span {
	width: 450px;
}

.tv-content {
    border: 1px solid #cececc;
    width: 400px;
    height: 200px;
    display: inline-block;
    padding: 20px;
    overflow: hidden;
}

.tf-container {
	margin: 0 40px;
	border-bottom: 1px solid #cececc;
	    padding-top: 24px;
}

.tf-profile, .tf-tweets {
	margin-bottom: 30px;
}

.tf-tweets {
	width: 500px;
	height: 200px;
    border: 1px solid #cececc;
    padding: 20px 0;
    overflow: scroll;
}

.tf-tweets ul li {
	list-style: none;
	line-height: 26px;
	cursor: pointer;
	padding: 0 20px;
}

.tf-tweets ul li:hover {
	color: #fff;
	background: #7fcce3;
}

.tf-profile > span {
	margin-left: 20px;
}

#tw_user > span {
	margin-left: 20px;
}